REACT_APP_USE_JIRA=false
REACT_APP_USE_YOUGILE=false
REACT_APP_USE_AMO_CRM=false
REACT_APP_USE_YANDEX_TRACKER=false
REACT_APP_USE_GITLAB=false
REACT_APP_USE_GITHUB=false
REACT_APP_USE_BITRIX=false
REACT_APP_USE_AI=false
REACT_APP_USE_TELEGRAM_BOT=false # Если выключен, то не рендерятся настройки нотификации и не показывается в меню ссылка на бота
# Вырезаем тарифы, регистрация, яндекс метрика, страница спасибо, внешшняя авторизация, 
