.grid {
  display: flex;
  flex-wrap: wrap; // чтобы карточки переносились на следующую строку
  gap: 20px; // равные промежутки между карточками
  justify-content: center; // центрируем все карточки
}

.ppp {
}
